/* Style du plateau de jeu */
.game-board {
  @apply p-1 bg-blue-800 mx-auto w-full flex flex-col items-center rounded-md;
  /* width: 60vh; */
  height: 50vh;
}

/* Style de la rangée (ligne) du plateau de jeu */
.row {
  @apply w-full flex justify-between items-center gap-1;
  flex: 1;
}

/* Style de chaque case du plateau de jeu */
.square {
  @apply w-full my-4 mx-1;
  height: 100%;
  border: 1px solid rgb(30 64 175 / var(--tw-bg-opacity));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  /* margin: 6px; */
}

/* Style des cases rouges */
.red-square {
  background-color: #e74c3c; /* Rouge */
}

/* Style des cases bleues */
.blue-square {
  background-color: #3498db; /* Bleu */
}
